
.boton-watsap{
    border: solid 2px white;
    padding: 1em 2em;
    margin: 1em 0em;
}

.boton-watsap:hover{
    cursor: pointer;
    background-color: rgb(44, 156, 66);
    transition: 100ms;
}
.link-watsap{
    text-decoration: none;
    color: white;
}

@media (max-width:500px){
    .boton-watsap{
        border: solid 2px white;
        padding: 1em 1em;
        margin: 1em 0em;
        font-size: 14px;
    }
}